/* Styles for the card and image */
.hover-card {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor:default;
}

.image-container {
  position: relative;
  
}

.image-container img {
  display: block;
  width: 300px;
  height: 400px;
}

.image-container:hover {
  transform: scale(1.03);
  cursor: pointer;
}

/* Overlay styles for the plus sign */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-sign {
  font-size: 50px; /* Size of the plus sign */
  font-weight: bold;
}

